* {
  padding: 0;
  margin: 0;
  font-family: Arial;
}


.topnav {
  background-color: #9900FF;
  overflow: hidden;
}

.topnav img {
  height: 30px;
  width: 100px;
  padding-top: 10px;
}

.topnav a {
  float: right;
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 15px 15px;
  word-wrap: normal;
  display: inline-block;
  border-left:white 2px solid;
} /* style links inside nav bar */

.topnav a:hover {
  background-color: purple;
} /* change color when hover */

#header2 {
  text-align: center;
  background: #DDDDDD;
  padding: 20;
  position: relative;
  top: 28;
  z-index: 1;
}

table {
  padding-top: 10px;
  padding-bottom: 10%;
  font-size: 15;
  line-height: 1.8;
}

#list {padding-top: 70px; padding-left: 20%}

img {
  padding: 10;
  float: left;
}
