* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial;
}

.topnav {
  background-color: #9900FF;
  overflow: hidden;
}

.topnav img {
  height: 30px;
  width: 100px;
  padding-top: 10px;
}

.topnav a {
  float: right;
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 15px 15px;
  word-wrap: normal;
  display: inline-block;
  border-left:white 2px solid;
} /* style links inside nav bar */

.topnav a:hover {
  background-color: purple;
} /* change color when hover */

#title {
  text-align: center;
  background: #DDDDDD;
  padding: 20;
  margin-top: 0;
  top: 28;
}

.divider {
  padding-top: 50px;
}

section {
  top: 50px;
  box-sizing: border-box;
}

.left {
  border-top: 50px;
  float: left;
  width: 50%;
}

.content {
  float: left;
  padding-top: 30px;
  width: 50%;
}
