* {
  padding: 0;
  margin: 0;
  font-family: Arial;
}

.topnav {
  background-color: #9900FF;
  overflow: hidden;
  margin: auto;
  height: auto;
  max-height:8%;
}

.topnav img {
  padding-top: 0.5vmax;
  padding-left: 0;
  width: 10vw;
  height: auto;
}

.topnav a {
  float: right;
  color: white;
  text-decoration: none;
  font-size: 1.3vw;
  padding: 15px 15px;
  word-wrap: normal;
  display: inline-block;
  border-left:white 2px solid;
} /* style links inside nav bar */

.topnav a:hover {
  background-color: purple;
} /* change color when hover */

/* elements on left side */
.leftThings {
  width: 50%;
  text-align: center;
  float: left;
}

.leftThings h1 {
  display: inline-block;
  text-align: left;
  margin-top: 3%;
  margin-bottom: 5px;
  font-size: 4vw;
}

.leftThings img {
  margin-bottom: 0;
  margin: auto;
  width: 60%;
  height: auto;
  display: block;
}

.leftThings p {
  margin-top: 5px;
  color: grey;
  font-style: italic;
  font-size: 1.3vw;
  text-align: left;
  margin-left: 25%;
}

/* elements on right side */
.rightThings{
  width: 50%;
  float: right;
  text-align: center;
}

.rightThings p {
  text-align: left;
  margin-top: -10px;
  margin-left: 15px;
}

.searchbox {
  text-align: left;
  margin-top: 5%;
  margin-left: 30px;
}

.searchbox input{
  width: 75%;
  background-image: url('/images/magnifying-glass.png');
  background-repeat: no-repeat;
  background-position: 3px;
  padding-left: 23px;
  border-radius: 5px 5px 5px 5px;
  font-size: 1.5vw;
}

.checkboxes{
  text-align: left;
  margin-top: 10px;
  margin-left: 35px;
  font-size: 3vw;
  font-size: 1.3vmax;
}

.checkboxes input {
  margin-left: 1vmax;
  margin-top: auto;
}

mark {
  background-color: white;
}

.recommendations {
  width: 90%;
  height: auto;
  border: 3px solid gray;
  margin: auto;
  margin-top: 5%;
  margin-left: 0px;
  margin-right: 50px;
  text-align: left;
}

.materialsRec {
  text-align: center;
}

.item {
  width: 35%;
  margin: 5%;
  display: inline-block;
  border: 2px solid black;
}

.description {
  margin-top:0.1vh;
 text-align: center;
  font-size: 10%;
}

.detail {
  width: 35%;
  margin: 5%;
  display: inline-block;
  text-align: left;
}

/* modal for first item in recommendations */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 200px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* modal for second item in recommendations */
.modal1 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 200px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content1 {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

.close1 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close1:hover,
.close1:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
