* {
  padding: 0;
  margin: 0;
  font-family: Arial;
}


.topnav {
  background-color: #9900FF;
  overflow: hidden;
  margin: auto;
  height: auto;
  max-height:8%;
}

.topnav img {
  padding-top: 0.5vmax;
  padding-left: 0;
  width: 10vw;
  height: auto;
}

.topnav a {
  float: right;
  color: white;
  text-decoration: none;
  font-size: 1.3vw;
  padding: 15px 15px;
  word-wrap: normal;
  display: inline-block;
  border-left:white 2px solid;
} /* style links inside nav bar */

.topnav a:hover {
  background-color: purple;
} /* change color when hover */



#header2 {
  text-align: center;
  background: #DDDDDD;
  padding: 20;
  margin-top: 0;
  z-index: 1;
}

table {
  padding-top: 10px;
  padding-bottom: 10%;
  font-size: 15;
  line-height: 1.8;
}

#list {
  padding-top: 70px; 
  padding-left: 20%;
}

img {
  padding: 11;
  float: left;
}

.btn {
  background-color: #f4511e;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: right;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
}

.btn:hover {opacity: 1}

#top {
  background-color: transparent;
  border: transparent;
  position: fixed;
  bottom: 15;
  right: 4;
  z-index: 3;
}

#topButton:hover {width: 60;}
